<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SIAV - Sistema de Autorização de Viagens</title>
</head>
<body style="background-color: #D6D6D6; color: white;">
    <table id="wrapper" style="width: 100%; background-color: #D6D6D6;"
        cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
            <td>
                <table id="conteudo"
                    style="width: 600px; background-color: white; border: 1px solid black"
                    cellspacing="0" cellpadding="0" border="0" align="center">
                    <tr>
                        <td><img
                            src="https://farm4.staticflickr.com/3837/14472074393_eed855cffb_o.jpg"
                            style="width: 100%; height: auto;" /></td>
                    </tr>
                    <tr>
                        <td>{{ mensagem }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>